body {
	background: gray;
}

h1 {
	color: black;
}

.gridContainer {
	background: white;
	max-height: 50%;
	max-width: 50%;
	margin: 20px auto;
}

.this {
	float: left;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	margin-right: 0;
	background-color: white;
}

input {
	margin: 10px auto;
	display: block;
}

.text-center {
	margin-top: 50px;
}