body {
	background: gray;
}

h1 {
	color: black;
	margin-top: 10%;
}

.gridContainer {
	background: white;
	height: 100%;
	width: 100%;
	margin: 5% 30%;
}

.this {
	float: left;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	margin-right: 0;
	background-color: white;
}

input {
	margin: 10px auto;
	display: block;
}
